/* Conteneur principal avec la sidebar */
.adminContainer {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  
  /* Conteneur du contenu principal */
  .contentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  
  /* Contenu interne avec padding */
  .content {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  /* Titre principal */
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #008000; /* Vert du drapeau mauritanien */
    text-align: center;
    margin-bottom: 15px;
  }
  
  /* Carte stylisée */
  .mapContainer {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #008000; /* Bordure verte */
    box-shadow: 0px 4px 10px rgba(0, 128, 0, 0.2);
  }
  
  /* Icônes d'ambulance */
  .ambulanceIcon {
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
  }
  
  /* Style responsive */
  @media (max-width: 768px) {
    .content {
      margin: 10px;
      padding: 15px;
    }
  
    .mapContainer {
      height: 60vh;
    }
  }
  