
body {
  
  background: url("../../../../public/login_background.jpg") no-repeat center;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  height: 100vh;

}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  min-height: 210px;
  background: url("../../../../public/samu_logo.png") no-repeat center center;
  background-size: contain; 
  ;

}

.login-container {
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}



.login-box {
  max-width: 28rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

.login-form {
  margin-top: 32px;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  color: #16a34a;
  display: block;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #16a34a;
  border-radius: 4px;
  outline: none;
}

.form-input:focus {
  border-color: #22c55e;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.2);
}

.login-button {
  width: 100%;
  padding: 8px 16px;
  background-color: #facc15;
  color: #166534;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.login-button:hover {
  background-color: #fde047;
}

.signup-link {
  text-align: center;
  margin-top: 16px;
}

.signup-link a {
  color: #facc15;
  text-decoration: none;
}

.signup-link a:hover {
  color: #fde047;
}
  
