/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Header */
.header {
  width: 100%;
  background-color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-button {
  background-color: red;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  overflow-x: auto;
  border-bottom: 1px solid #ddd;
}



/* Dashboard */
.dashboard-container {
  margin-left: 250px;
  padding: 20px;
}

.card {
  background-color: hsl(116, 100%, 50%);
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
}
